
$fuentePrincipal : "Arial";

// Colores

$verde : #4CB8B3;
$rosa : #F53756;
$amarillo : #FEF46B;
$morado : #752F97;
$negro : #000;
$blanco : #fff;

// Media Queries




// Fuentes





// Separaciones